main {
  background-image: url('remote.jpg');
  display: grid;
  width: 100vw;
  height: 150vh;
  background-size: cover;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
}

body {
font-family: 'Raleway', sans-serif;
}

section {

}


article {
  text-align: center;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.about-me {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(4);
}

.about-me h4 {
  grid-column: 2/3;
}

.about-me img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2/4;
}

.about-me-intro {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  grid-column: 2/4;
  grid-row: 2/4;
  padding: 10px;
}

.experience {

}

.social {
  background-image: url('telephones.jpg');
  display: grid;
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
}
.portfolio {

}
.blog {

}
